// Specific CSS for your home-page

.background-body {
  background-color: #EFC11F;
}

.pomehage {
  display: flex;
   vertical-align: middle;
  justify-content: space-between;
}

.form-homepage {
  background-color: #273E47;
  box-shadow: 4px 4px 10px;
  margin-top: 150px;
  margin-left: 20px;
  margin-right: 100px;
  height: 567px;
  width: 405px;
}

.list-homepage li {
list-style-type: none;
}

.imeg {
  height: 418px;
  width: 640px;
  box-shadow: 4px 4px 10px;
  margin-left: 10px;
  margin-top: 225px;
}

.action {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    height: 300px;
}

.bordure-jaune {
  margin: 50px;
    margin-bottom: 2rem;
    border: 4px solid #EFC11F;
}

.form-control {
  height: 50px;
  font-size: 20px;
  font-weight: 100;
  border-radius: 0px;
  margin-bottom: -16px;
  text-align: left;
  background-clip: border-box;
}

#lebouton {
  margin: 50px;
  margin-top: 15px;
  background: #EFC11F;
    color: black;
    border: 4px solid white;
    font-size: 20px;
    font-weight: bold;
        padding: 10px 15px;
        width:275px;
}

.texts {
  font-size: 30px;
  text-align: center;
  margin-top: 45px;
  color: #EFC11F;
  font-weight: 300;
}


.my-barrows {
 text-align: center;
 color: #273E47,
}


.congrats {
  margin-top: 30px;
  color: #273E47;
  text-align: center;
}

#rememberme {
  color: white;
  text-align: center;
}

.congrats span {
  color: #EFC11F;
}
