.lelogin {
text-align: center;
color: white;
margin-top: 40px;
font-size: 40px;
}

#hi {
  margin-left: 50px;
  color: white;
  background-color: #EFC11F;
  width: 500px;
  height: 90px;
  border-radius: 5px;
}

.lebody {
  background-color: #273E47;
}

#eej {
  font-size: 60px;
}

.burp {
  text-align: center;
  font-size: 30px;
  margin-top: 50px;
}


.form-container{
  margin: 0 auto;
  max-width: 50vw;
}
