<body>

<div class="container">
  <div class="success">
    <h1 class="congrats">Félicitati<span>o</span>ns, tu as b<span>oo</span>ké <%= "#{@booking.barrow.name} le #{@booking.booking_date}" %></h1>
  <br>
    <div class="container-car-desc">
      <img id="gif-barrow" src="https://media.giphy.com/media/1avrDdGYCH2a4/source.gif" alt="">
    </div>
    <br>
    <br>
    <br>
    <h2 class="congrats"> Clique <%= link_to "ici", my_barrows_path %> pour aller sur ton profil </h2>
  </div>
</div>

</body>
  <div class="footer">
  <div class="footer-links">
    <a href="#"><i class="fab fa-github"></i></a>
    <a href="#"><i class="fab fa-instagram"></i></a>
    <a href="#"><i class="fab fa-facebook"></i></a>
    <a href="#"><i class="fab fa-twitter"></i></a>
    <a href="#"><i class="fab fa-linkedin"></i></a>
  </div>
  <div class="footer-copyright">
    Le père brouette vous remercie chaleureusement de votre viste <i class="fas fa-heart"></i>
  </div>
</div>
