<body>
  <h1>Y'a quoi ? Y'a R fwere!</h1>
  <div class="homepage">
    <div class="form-homepage">
      <form action="">
        <ul class="list-homepage">
          <li><input type="text"></li>
          <li><input type="text"></li>
          <li><select class="homepage-select"></select></li>
          <li><input type="submit"></li>
        </ul>
      </form>
    </div>

    <div class="image">
      <img src="http://www.labellebrouette.fr/wp-content/uploads/2016/04/La_Belle_Brouette_Workspace_design_dessin_projet_Stand_Vegetal_Paysagiste_Decorateur_Interieur_03.jpg" alt="Une brouette fraaah">
    </div>
  </div>
</body>
