.btn-flat {
  color: white;
  padding: 8px 24px;
  border-radius: 4px;
  background: #EFC11F;
  transition: background 0.3s ease;
  display: block;
  margin : auto;
  border: solid 5px white;
}

.btn-flat:hover {
  background: #EFC11F;
  color: #273E47;
}


.btn-ghost {
  position: absolute;
  top: 10px;
  right: 10px;
  color: #EFC11F;
  border: 2px solid #EFC11F;
  padding: 4px 15px;
  border-radius: 50px;
  font-weight: lighter;
  transition: opacity 0.3s ease;
}

.btn-ghost:hover {
  opacity: 1;
  background-color: #273E47;
  color: white;
  border-color: white;
}
