.navbar-lewagon {
  display: -webkit-box;
  -webkit-box-pack: center;
  -webkit-box-align: center;
    justify-content: space-between;
  background: white;
  box-shadow: 0px 2px 10px;
}

.navbar-lewagon .navbar-collapse {
  flex-grow: 0;
}

.navbar-lewagon .navbar-brand img {
  width: 60px;
}



.navbar-lewagon .navbar-brand span {
  color: #EFC11F ;
}

.navbar-lewagon .navbar-brand p {
  color: #273E47;
  margin-bottom: 0px;
  padding-left: 8px;

}

.title {
  font-size: 20px;
  color: #273E47;
  margin-bottom: 0px;
}

.title span {
  font-size: 24px;
  color: #EFC11F;
  margin-bottom: 0px;
}

.centertext {
  display: -webkit-box;
  -webkit-box-pack: center;
  -webkit-box-align: center;
}
