.card-trip .card-trip-infos {
  padding: 16px;
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  position: relative;
}

.card-trip-infos .card-trip-user {
  position: absolute;
  right: 16px;
  top: -20px;
  width: 40px;
  border-radius: 50%;
}


.container-car-desc {
  display: flex;
  justify-content: space-between;
  padding-top: 50px;

}



.card-trip-desc {
  padding-top: 0px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: relative;
  background-color: white;
}



.card-text .price {
  align-items: right;
  position: absolute;
  right: 16px;
  top: -20px;
}

.card-trip-pricing {
  align-items: right;
  position: absolute;
  right: 16px;
  bottom: 20px;
}

.card-desc {
  overflow: hidden;
  background: white;
  box-shadow: 0 0 15px rgba(0,0,0,0.2);
}

.card-desc .title {
  text-align: center;
}


.card-desc .desc {
  padding-left: 15px;
  padding-bottom: 15px;
  margin-bottom: 15px;
}

.card-text {
  color: #273E47;
}

.color {
  color: #273E47;
}

.card-trip .link-destroy {
  position: absolute;
  margin-right: 5px;
  top: 5px;
  right: 5px;
  border: 2px solid #273E47;
  width: 25px;
  height: 25px;
  display: -webkit-box;
  display: flex;
  -webkit-box-align: center;
  align-items: center;
  -webkit-box-pack: center;
  justify-content: center;
  border-radius: 50%;
  font-weight: lighter;
  color: #273E47;
  font-size: 20px;
  transform: rotate(45deg);
  font-size: 30px;
  opacity: 0.8;
}


.card-trip .link-destroy:hover {
  text-decoration: none;
  background-color: #273E47;
  border: 2px solid white;
  color: white;
  opacity: 1;
}
​
.card-trip .link {
  text-decoration: none;
}

.card-trip-infos {
  background-color: #273E47;
  color: #EFC11F;
}


